.ContactPage {
    text-align: center;
    background-color: rgb(0, 0, 0);
    /* background-image: url('/assets/body-logo.png'); */
    background-repeat: repeat;
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
    width: 100vw;
    transition: 0.4s;
    position: absolute; /* or absolute or fixed */
  }
  

.video2 {
    position: fixed;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    opacity: 0.18;
  }
  
